@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: theme('colors.dark.100');
    --background-rgb: theme('colors.light.200');
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: theme('colors.light.300');
        --background-rgb: theme('colors.dark.100');
    }
}

body {
    color: var(--foreground-rgb);
    background: var(--background-rgb);
}

/* all list items except the first one */
li:not(:first-child) {
    margin-top: 0.5rem;
}